<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</head>

<body style="background-color: whitesmoke">
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white" th:utext="'<b>'+${nawUser.email}+'</b> with roles: ' + ${nawUser.getStrRoles()}"></a>
    <form th:action="@{/appLogout}" method="POST">
        <button class="btn btn-link text-secondary" type="submit">Logout</button>
    </form>
</nav>
<div class="row">
    <div class="col-2 nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="background-color: white">
        <br>
        <ul class="nav nav-pills">
            <a class="container-fluid nav-link active" th:href="@{/admin}" role="tab" th:utext="Admin"></a>
            <a class="container-fluid nav-link " th:href="@{/users/{id}(id=${nawUser.id})}" role="tab" th:utext="User"></a>
        </ul>
    </div>

    <div class="container col-md-10">
        <h2>Admin panel</h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="table-tab" data-toggle="tab" role="tab" href="#table" aria-controls="table" aria-selected="true">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="newUser-tab" data-toggle="tab" role="tab" href="#newUser" aria-controls="newUser" aria-selected="false">New user</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent" style="background-color: white">
            <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                <div class="card">
                    <div class="card-header">
                        All users
                    </div>
                    <div class="container-fluid">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody class="table-striped">
                            <tr th:each="user: ${users}">
                                <td th:utext="${user.id}"></td>
                                <td th:utext="${user.name}"></td>
                                <td th:utext="${user.lastName}"></td>
                                <td th:utext="${user.age}"></td>
                                <td th:utext="${user.email}"></td>
                                <td th:utext="${user.getStrRoles()}"></td>
                                <td>
                                    <button type="submit" class="btn btn-info" data-toggle="modal" th:attr="data-target='#exampleModal-'+${user.id}">
                                        Edit
                                    </button>

                                    <div class="modal fade" data-toggle="modal" th:attr="id='exampleModal-'+${user.id}" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalTitle">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
                                                        <div class="container-fluid col-md-6 text-center">
                                                            <div class="form-group">
                                                                <label for="idEditUser" class="col-form-label">ID</label>
                                                                <input type="text" class="form-control" th:value="*{id}" id="idEditUser" name="idUser" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="nameEditUser">Name</label>
                                                                <input type="text" class="form-control" th:value="*{name}" id="nameEditUser" name="nameUser">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="lastNameEditUser">Surname: </label>
                                                                <input type="text" class="form-control" th:value="*{lastName}" id="lastNameEditUser" name="lastNameUser">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="age">Age: </label>
                                                                <input type="number" class="form-control" th:value="*{age}" id="age" name="ageUser">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="username">Email:</label>
                                                                <input type="email" class="form-control" th:value="*{email}" id="username" name="emailUser">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="pass">Pass: </label>
                                                                <input type="password" class="form-control" id="pass" name="passUser">
                                                            </div>
                                                            <select class="custom-select" name="setRoles" id="roles" multiple>
                                                                <option th:each="role : ${roleList}" th:text="${role.getName()}" th:value="${role.getName()}"></option>
                                                            </select>
                                                        </div>
                                                        <br>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Edit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#delModal-'+${user.id}">
                                        Kill him!
                                    </button>

                                    <div class="modal fade" data-toggle="modal" th:attr="id='delModal-'+${user.id}" tabindex="-1" role="dialog" aria-labelledby="delModalTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="delModalTitle">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/admin/del/{id} (id=${user.id})}">
                                                        <div class="container-fluid col-md-6 text-center">
                                                            <div class="form-group">
                                                                <label for="idDelUser" class="col-form-label">ID</label>
                                                                <input type="text" class="form-control" th:value="${user.id}" id="idDelUser" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="nameDelUser">Name</label>
                                                                <input type="text" class="form-control" th:value="${user.name}" id="nameDelUser" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="lastNameDelUser">Surname: </label>
                                                                <input type="text" class="form-control" th:value="${user.lastName}" id="lastNameDelUser" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="ageDelUser">Age: </label>
                                                                <input type="number" class="form-control" th:value="${user.age}" id="ageDelUser" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="usernameDelUser">Email:</label>
                                                                <input type="email" class="form-control" th:value="${user.email}" id="usernameDelUser" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                <div class="card">
                    <div class="card-header">
                        Add new user
                    </div>
                    <div class="container-fluid col-md-3 text-center">
                        <br>
                        <form th:method="POST" th:action="@{/admin}" th:object="${newUser}">
                            <div class="form-group">
                                <label for="nameNewUser">Name</label>
                                <input type="text" class="form-control" th:field="*{name}" id="nameNewUser" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label for="lastNameNewUser">Surname:</label>
                                <input type="text" class="form-control" th:field="*{lastName}" id="lastNameNewUser" placeholder="Enter surname">
                            </div>
                            <div class="form-group">
                                <label for="ageNewUser">Age:</label>
                                <input type="number" class="form-control" th:field="*{age}" id="ageNewUser" placeholder="Enter age">
                            </div>
                            <div class="form-group">
                                <label for="emailNewUser">Email:</label>
                                <input type="email" class="form-control" th:field="*{email}" id="emailNewUser" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="passNewUser">Pass:</label>
                                <input type="password" class="form-control" th:field="*{password}" id="passNewUser" placeholder="Enter password">
                            </div>
                            <input type="submit" class="btn btn-success" value="Add new user">
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>